* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
   padding-top: 120px;

  padding-top: 100px;
}
ul {
  list-style: none;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

span {
  display: inline-block;
}

.section {
  padding-bottom: 50px;
  padding-top: 167px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.font {
  font-size: 14px;
  padding: 5px 8px;
  border-radius: 100vh;
  color: white;
}
.container {
  width: 73%;
  margin: auto;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f5f3ff;
  padding-block: 13px;
  border-bottom: 1px solid #ddd6ff;
  z-index: 1000;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  justify-items: center;
  gap: 15px;
}
.icon {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  color: #fff;
  background: #8b5cf6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.4;
}

.nav-bar ul li {
  padding-inline: 5px;
  margin-inline: 5px;
}
.nav-bar ul li a {
  position: relative;
  transition: color 0.5s;
  font-size: 15px;
  font-weight: 300;
}
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}
.logo-name {
  font-size: 22px;
  font-weight: bold;
}

.active {
  color: #8e51ff;
  border-bottom: 3px solid #8e51ff;
}

.nav-bar ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 3px;
  background: #8e51ff;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-bar ul li a:hover {
  color: #8e51ff;
}

                                        /* Section 1 */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 89vh;
 margin-top: 30px;
}

.hero .container {
  display: flex;
  gap: 60px;
    align-items: stretch;
}

.img-border {
  padding: 20px;
  border: #e0e2e6 solid 2px;
  position: relative;
  border-radius: 24px;
}

.img-border img {
  border-radius: 16px;
}
.hero-img {
  width: 50%;
}
.pricing.pill {
  position: absolute;
  background: #8e51ff;
  top: 40px;
  left: 40px;
  color: white;
  border-radius: 20px;
  padding-inline: 12px;
  padding-block: 4px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
}

.hero-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 100%;

}

.hero-content h1 {
  font-size: 48px;
  line-height: 60px;
  color: rgb(51, 51, 51);
  font-weight: 700;
}

.hero-content h1 span {
  color: rgb(139, 92, 246);
}
.hero-content .tags span {
  background-color: #a684ff;
  padding-left: 10px;
}

.description {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: rgb(51, 51, 51);

  }

.price-box {
  margin-top: 10px;
  }
.installment {
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  color: #333;
  margin-bottom: 15px;
}
.price {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  color: #333;
}

.line {
  text-decoration: line-through;
  font-weight: bold;
  line-height: 1.3;
  font-size: 24px;
  font-weight: 100;
  color: #333;
  padding-inline: 10px;
  }
.pill.discount {
  color: #e70008;
  background: #ffe2e2;
  font-weight: bold;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 700;
  padding-inline: 10px;
}

.pill {
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  padding-inline: 12px;
  padding-block: 4px;
  border-radius: 20px;
  margin: 4px;
}

.hero-content button {
  width: 100%;
  border: #8e51ff 2px solid;
  border-radius: 100vh;
  padding-block: 20px;
}

.hero-content button {
  width: 100%;
  border-radius: 100vh;
  padding: 14px 32px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.2s;
}

button.cart {
  background-color: #8e51ff;
  color: white;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  padding-inline: 32px;
  padding-block: 14px;
  transition: transform 0.5s;
  }

button.Wishlist {
  border: 2px solid #e0e2e6;
  border-radius: 3.4;
  background-color: white;
  border-color: #d1d5dc;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
  padding-inline: 32px;
  padding-block: 14px;
  transition: transform 0.5s;
}
button.Wishlist:hover,
.cart:hover {
  transform: scale(1.04);
}
                                             /* Section 2 */
.compare-section {
  padding: 64px 0 48px;
  background: #f5f3ff;
}

.compare-title {
  text-align: center;
  margin-bottom: 40px;
}

.compare-title h2 {
  font-size: 24px;
  color: #111;
  font-weight: 700;
  margin-bottom: 8px;
  line-height: 1.2;
}

.compare-title h2 span {
  color: #7c3aed;
}

.compare-title p {
  color: #111;
  margin-top: 0;
  font-size: 14px;
  line-height: 1.4;
}

.compare-section .container {
  width: 95%;
  max-width: 1250px;
  margin: auto;
}
.table-box {
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;

  background-color: #fff;
  border-radius: 15px;
  padding: 25px;

  border: 1px solid #d1d5db;

  box-shadow: none;

  overflow: hidden;
}
.compare-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.compare-table th,
.compare-table td {
  padding: 18px 10px;
  text-align: center;

  border-bottom: 1px solid #d1d5db;

  font-size: 15px;
  color: #111;
}

.compare-table th:first-child,
.compare-table td:first-child {
  width: 24%;
  text-align: left;
}

.compare-table th:not(:first-child),
.compare-table td:not(:first-child) {
  width: 19%;
}

.compare-table th {
  font-size: 16px;
  font-weight: 700;
  color: #111;
  height: 75px;
}

.compare-table th span {
  display: block;
  margin-top: 6px;

  font-size: 13px;
  font-weight: 400;
  color: #777;
}
.compare-table thead .main-product span {
  color: #7c3aed;
}

.compare-table thead th:not(.main-product) span {
  color: #777;
  font-weight: 700;
  font-size: 14px;
}
.compare-table .main-product {
  background: #eee7ff;
  color: #7c3aed;
  font-weight: 600;
}

.compare-table thead .main-product {
  border-radius: 10px 10px 0 0;

  color: #7c3aed;
  font-weight: 700;
}

.feature-icon,
.Photo-icon,
.Flight-icon,
.satellite-icon,
.gauge-icon,
.shield-icon,
.scale-icon,
.Weather-icon,
.dollar-icon {
  width: 16px;
  height: 16px;

  vertical-align: middle;
  margin-right: 7px;
}

td b {
  display: inline-block;

  background: #8b4df8;
  color: white;

  padding: 5px 12px;

  border-radius: 20px;

  font-size: 13px;
  font-weight: 600;
}

.compare-table tbody tr:nth-last-child(1) td {
  font-weight: 500;
}

.compare-table tbody tr:nth-last-child(1) .main-product {
  color: #6d28d9;
  font-size: 23px;
  font-weight: 700;
}

.compare-table tbody tr:nth-last-child(1) .main-product b {
  background: transparent;
  border-radius: 0;
  color: #6d28d9;
  padding: 0;

  font-size: 23px;
  font-weight: 700;
}

.red-text {
  color: oklch(0.646 0.222 41.116) !important;
  font-weight: 400;
}

.compare-table tfoot td {
  border-bottom: none;

  padding-top: 18px;
  padding-bottom: 10px;

  font-size: 14px;
}

.compare-table tfoot td:first-child {
  text-align: left;

  font-weight: 700;
  font-size: 16px;
}

.compare-table tfoot .main-product {
  background: #eee7ff;
  border-radius: 0 0 10px 10px;
}

.stars {
  margin-bottom: 5px;
  white-space: nowrap;
}

.stars i {
  color: #ffc107;

  font-size: 19px;

  margin: 0 1px;
}

.stars i.empty {
  color: #d1d5db;
}

td span {
  display: block;

  color: #111;

  margin-top: 5px;

  font-size: 14px;
  font-weight: 700;
}

tbody tr:hover td {
  background: #fafafa;
}

tbody tr:hover .main-product {
  background: #eee7ff;
}

.winner {
  width: fit-content;

  margin: 29px auto 0;

  padding: 10px 20px;

  background: #fff;

  border: 1px solid #e5e7eb;

  border-radius: 10px;

  display: flex;
  align-items: center;

  gap: 9px;
}

.winner img {
  width: 18px;
  height: 18px;
}

.winner h3 {
  color: #00a63e;

  font-size: 13px;

  margin: 0;

  line-height: 1.2;

  font-weight: 700;
}

.winner span {
  display: block;

  color: #00a63e;

  margin-top: 3px;

  font-size: 11px;

  line-height: 1.2;

  font-weight: 400;
}
                                     /* Section 3 */
.reviews-section {
  padding: 80px 0;
  background: #ffffff;
}

.reviews-title {
  text-align: center;
  margin-bottom: 50px;
}

.reviews-title h2 {
  font-size: 38px;
  color: #111827;
  margin-bottom: 10px;
}

.reviews-title span {
  color: #7c3aed;
}

.reviews-title p {
  color: #333333;
  font-size: 17px;
}

.reviews-content {
  display: flex;
  align-items: flex-start;
  gap: 4%;
}

.rating-box {
  width: 31%;

  background: #fff;
  border: 2px solid #e5e7eb;
  border-radius: 24px;
  padding: 32px;

  position: sticky;
  top: 32px;

  flex-shrink: 0;
}

.rating-box h3 {
  text-align: center;
  font-size: 48px;
  color: #111827;
}

.rating-box .stars {
  text-align: center;
  color: #f59e0b;
  font-size: 18px;
  margin: 8px 0;
}

.rating-box p {
  text-align: center;
color:(51, 51, 51) ;

  font-size: 14px;
  margin-bottom: 25px;
}

.rate-row {
  overflow: hidden;
  margin-bottom: 15px;
}

.rate-row span {
  float: left;
  width: 10%;
  font-size: 14px;
}

.progress {
  float: left;
  width: 75%;
  height: 10px;
  background: #e5e7eb;
  border-radius: 20px;
  margin-top: 5px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background: #f59e0b;
  border-radius: 20px;
}

.fill-95 {
  width: 85%;
}

.fill-3 {
  width: 15%;
}

.fill-1 {
  width: 5%;
}

.fill-0 {
  width: 0.5%;
}

.rate-row span {
  float: left;
  color: #333;
   font-weight: 200;
     font-size: 12px;
}

.rating-box hr {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 25px 0;
}

.rating-footer {
  overflow: hidden;
}

.left-rate {
  float: left;
}

.right-rate {
  float: right;
}

.rating-footer h4 {
  font-size: 24px;
  color: #333;
  text-align: center;
  font-weight: 700;
  line-height: 32px;
}

.rating-footer span {
  color: #333;
  font-weight: 300;
  line-height: 1.4;
  font-size: 13px;
}

.reviews-list {

  width: 65%;
}

.review-card {
  background: #fff;
  border: 2px solid #e5e7eb;
  border-radius: 18px;
  padding: 32px;
  margin-bottom: 24px;
}

.user-rating {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 8px;
}

.user-rating .stars {
  color: #f59e0b;
  font-size: 13px;
  margin: 0;
}

.user-rating .stars i {
  font-size: 13px;
}

.user-rating > span {
  color: #111827;
  font-size: 12px;
  font-weight: 400;
  margin-left: 3px;
}

.review-head {
  overflow: hidden;
  margin-bottom: 15px;
}

.review-head img {
  float: left;

  width: 55px;
  height: 55px;

  border-radius: 50%;
  border: 2px solid #a78bfa;
}

.user-info {
  float: left;
  margin-left: 15px;
}

.user-info h3 {
  font-size: 18px;
  color: #111827;
  margin-bottom: 5px;
}

.user-info > span {
  color: #111827;
  font-size: 14px;
}

.verified {
  float: right;
  text-align: right;
  font-size: 12px;
}

.verified strong {
  display: inline-block;

  color: #6d28d9;
  background: #ede9fe;

  padding: 4px 12px;
  border-radius: 20px;

  font-size: 12px;
  font-weight: 600;
}

.verified span {
  display: block;

color: #111827;
  margin-top: 5px;

  font-weight: normal;
}

.review-card p {
  color: #333;

  line-height: 29px;

  font-size: 16px;
}

.load-btn {
  clear: both;
  width: 65%;
  margin-left: 35%;
  text-align: center;
  margin-top: 40px;
}

.load-btn a {
  display: inline-block;

  padding: 14px 34px;

  background: #8e51ff;

  color: #fff;

  border-radius: 30px;

  transition: 0.3s;

  font-weight: 600;

  border: 2px solid #8e51ff;
}

.load-btn a:hover {

  background: #fff;

  color: #8e51ff;

}
                                             /* Section 4 */
.setup-section {
  padding: 80px 0;
  background: #f7f5ff;
}

.setup-title {
  text-align: center;
  margin-bottom: 50px;
}

.setup-title h2 {
  font-size: 40px;
  color: #111827;
}

.setup-title span {
  color: #7c3aed;
}

.setup-title p {
  margin-top: 10px;
  color: #6b7280;
  font-size: 18px;
}

.setup-cards {
  overflow: hidden;
}

.product-card {
  float: left;
  width: 23.5%;
  margin-right: 2%;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 18px;
  padding: 16px;
  transition: box-shadow 0.3s;
}

.product-card:last-child {
  margin-right: 0;
}

.product-card:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08);
}

.product-image {
  position: relative;
  margin-bottom: 18px;
  overflow: hidden;
  border-radius: 12px;
}

.product-image img {
  width: 100%;
  display: block;
  border-radius: 12px;
  transition: transform 0.4s;
}

.product-card:hover .product-image img {
  transform: translateY(-5px) scale(1.03);
}

.badge {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 7px 10px;
  border-radius: 20px;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
}

.accessory {
  background: #14b8a6;
}

.essential {
  background: #22c55e;
}

.power {
  background: #0ea5e9;
}

.safety {
  background: #f97316;
}

.product-card h3 {
  font-size: 20px;
  color: #111827;
  margin-bottom: 12px;
}

.product-card p {
  color: #333;
  font-size: 14px;
  line-height: 1.6;
  min-height: 75px;
  font-weight: 400;
}

.card-footer {
  overflow: hidden;
  margin-bottom: 10px;
}

.card-footer h4 {
  float: left;
  font-size: 28px;
  color: #111827;
}

.card-footer a {
  float: right;
  background: #7c3aed;
  color: #fff;
  padding: 10px 18px;
  border-radius: 25px;
  font-size: 14px;
  transition: 0.3s;
}

.card-footer a:hover {
  background: #6d28d9;
}

.view-btn {
  text-align: center;
  margin-top: 50px;
}

.view-btn a {
  display: inline-block;
  padding: 15px 20px;
  border: 2px solid #7c3aed;
  color: #7c3aed;
  border-radius: 35px;
  transition: 0.3s;
  font-weight: 600;
  font-size: 16px;
}

.view-btn a:hover {
  background: #7c3aed;
  color: #fff;
}
                                                 /* Section 5 */
footer {
  background: #111827;
  padding: 70px 0 30px;
}

.footer-top {
  overflow: hidden;
  padding-bottom: 15px;
}

.footer-about {
  float: left;
  width: 26%;
}

.footer-links {
  float: left;
  width: 18%;
  margin-left: 8%;

  }

.first-column {
  margin-left: 1%;
}

.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.footer-logo .icon {
  width: 40px;
  height: 40px;
  background: #8b5cf6;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo .icon i {
  color: #fff;
  font-size: 15px;
}

.footer-logo h2 {
  color: #fff;
  font-size: 22px;
  margin-left: 12px;
}

.footer-about p {
  color: #cbd5e1;
  line-height: 1.7;
  margin-bottom: 15px;
  font-size: 14px;
  color: white;
  width: 250px;
}

.social-icons a {
  display: inline-block;
  width: 37px;
  height: 38px;
  background: #1f2937;
  border-radius: 10px;
  text-align: center;
  line-height: 38px;
  margin-right: 12px;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #7c3aed;
}

.social-icons img {
  width: 16px;
  vertical-align: middle;
}

.footer-links h3 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 15px;
}

.footer-links li {
  margin-bottom: 15px;
  font-size: 15px;
}

.footer-links a {
  color: #94a3b8;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

footer hr {
  border: none;
  border-top: 1px solid #1f2937;
  margin: 25px 0;
}

.footer-bottom {
  overflow: hidden;
}

.footer-bottom p {
  float: left;
  color: #cbd5e1;
  margin-top: 8px;
  font-size: 13px;
  line-height: 1.4;
  color: white;
}

.payment {
  float: right;
}

.pay-card {
  height: 35px;
  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  line-height: 38px;
  margin-left: 16px;
}

.paypal {
  width: 75px;
}

.master {
  width: 45px;
}

.visa {
  width: 65px;
}

.pay-card img {
  width: 48px;
  height: 14px;
  vertical-align: middle;
  margin: auto;
}
